.widget-options-filter {
	display: flex;
	min-width: 130px;
	gap: 6px;
	align-items: center;
	font-size: 16px;
	font-weight: 600;
}

.widget-options-filter select {
	padding: 0.3em 1em 0.3em 0.2em;
	background-color: #fff;
	border: 1px solid #caced1;
	border-radius: 0.25rem;
	color: #000;
	cursor: pointer;
}
