.select_item {
	font-size: 14px;
	width: 150px;
	height: 35px;
	padding: 8px 15px;
	display: flex;
	background: black;
	color: white;
	border-radius: 5px;
}

.select_item_element {
	display: flex;
	justify-content: start;
	align-items: center;
	width: 130px;
	border-right: 1px solid white;
}

.select_item_cancel {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 12px;
	&:hover {
		color: rgb(182, 182, 173);
	}
}
