.app-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 620px;
	padding: 30px;
	color: #566171;
	gap: 20px;
	border-radius: 5px;
	background: linear-gradient(170deg, #eafadf, #dceeee 80%) no-repeat 50% fixed;
	box-shadow: -5px -2px 21px rgba(87, 100, 116, 0.3);
}

.selected_items_wrapper {
	display: flex;
	height: 35px;
	gap: 20px;
}

.widget-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	color: #eeeff1;
	border-radius: 5px;
	background: linear-gradient(170deg, #26a96c, #395e66 80%) no-repeat 50% fixed;
	box-shadow: -5px -2px 21px rgba(87, 100, 116, 0.3);
}

.widget-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.widget-options {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.widget-options-search {
	display: flex;
}
.widget-options-filter {
	display: flex;
}

.widget-body {
	overflow-y: scroll;
	height: 400px;
	margin-bottom: 20px;
	padding: 10px 15px;
	background: linear-gradient(170deg, #1b2416, #060a0a 80%) no-repeat 50% fixed;
}

.widget-selected-title {
	margin-bottom: 15px;
}

.widget-selected-items {
	display: flex;
	height: 35px;
	gap: 20px;
	margin-bottom: 15px;
}

.widget-ctas {
	display: flex;
	gap: 15px;
}

.btn_change_choice {
	background-color: #a98e5f;
	color: white;
	padding: 8px 16px;
	border-radius: 3px;
	&:hover {
		background-color: #b9a178;
	}
}

.btn_close_x {
	font-weight: 600;
	&:hover {
		color: rgb(214, 214, 211);
	}
}

.btn_change_save {
	background-color: #35be4c;
	color: white;
	padding: 8px 16px;
	border-radius: 3px;
	&:hover {
		background-color: #40d459;
	}
}

.btn_change_cancel {
	background-color: #b83535;
	color: white;
	padding: 8px 16px;
	border-radius: 3px;
	&:hover {
		background-color: #d44242;
	}
}
